<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
        <key>items</key>
        <array>
                <dict>
                        <key>assets</key>
                        <array>
                                <dict>
                                        <key>kind</key>
                                        <string>software-package</string>
                                        <key>url</key>
                                        <string>http://ks3-cn-shanghai.ksyun.com/upd/t11/0.80/t11_in_demo.ipa</string>
                                </dict>
                                <dict>
                                        <key>kind</key>
                                        <string>display-image</string>
                                        <key>needs-shine</key>
                                        <true/>
                                        <key>url</key>
                                        <string>https://smsy-test.ycgame.com/t11/app/download/t11_dl.png</string>
                                </dict>		
                                <dict>
                                        <key>kind</key>
                                        <string>full-size-image</string>
                                        <key>needs-shine</key>
                                        <true/>
                                        <key>url</key>
                                        <string>https://smsy-test.ycgame.com/t11/app/download/t11_dl512.png</string>
                                </dict>
                        </array>
                        <key>metadata</key>
                        <dict>
                                <key>bundle-identifier</key>
                                <string>com.ycgame.t11</string>
                                <key>bundle-version</key>
                                <string>0.80</string>
                                <key>kind</key>
                                <string>software</string>
                                <key>title</key>
                                <string>T11</string>
                        </dict>
                </dict>
        </array>
</dict>
</plist>